/* Search */
.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scale(0.95);
  opacity: 0;
  background: #fff;
  transition: all .25s ease;
  &.is-visible {
    transform: scale(1);
    z-index: 100;
    opacity: 1;
    transition: all .25s ease;
  }
}

.search__box {
  width: 60%;
  margin: 0 auto;
  padding-top: 250px;

  @media only screen and (max-width: $tablet) {
    width: 80%;
    padding-top: 100px;
  }
}

.search__group {
  position: relative;
  margin-bottom: 30px;

  .search__close {
    position: absolute;
    right: 0;
    top: 17px;
    font-size: 25px;
    cursor: pointer;
  }

  .search__text {
    width: 100%;
    padding: 20px 18px 18px 0;
    font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 32px;
    border: none;
    border-bottom: 3px solid $dark;
    color: $dark;
    &::placeholder {
      font-weight: 700;
      color: #bbb;
    }
    &::-ms-clear {
      display: none;
    }
  }
}

.search-results-list {
  height: 55vh;
  margin: 0 0 0 -5px;
  padding: 0 26px;
  list-style: decimal;
  font-weight: 700;
  color: #bbb;
  overflow: auto;
  white-space: normal;

  .search-results__item {
    margin-bottom: 20px;
  }

  
  .search-results__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: lighten($dark, 10%);
    transition: all .15s;
    &:hover {
      color: #000;
    }
  }

  .no-results {
    list-style: none;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 400;
    color: $dark;
  }
}